<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/mycontroller.js"></script>
    <script type="text/javascript" src="controllers/carctrl.js"></script>
    <style>
     div {
      border: 1px solid red;
      margin: 2px;
     }
    </style>
  </head>
  <body>
    <div ng-controller="appController">
      <p>Hello {{ firstName }} {{ lastName }}</p>
      <a href="#" ng-click="setName('Kaushal','Patel')">Set Name</a>
    </div>

    <div ng-controller="DivideCtrl">
      <div>
        Enter Value 1: <input type="text" ng-model="numberData.value1"/>
      </div>

      <div>
        Enter Value 2: <input type="text" ng-model="numberData.value2" />
      </div>

      <button ng-click="divide(numberData.value1,numberData.value2)">
        Calculate</button>
    </div>

    <div ng-controller="AppCtrl">
      <p><input ng-model="testInput" type="text"/></p>
      {{  testInput }}
    </div>

    <div ng-controller="OuterCtrl">
      {{ val1}}

      <div ng-controller="InnerCtrl">
        {{ val1 }}
        <input type="text" ng-model='val1' />
      </div>
    </div>

    <div ng-controller="carctrl">

      <p> Description: {{ description }} </p>
      <p> Cars: {{ cars }} </p>

    </div>

    <div ng-controller="controllerA">
      <p>{{value}}</p>
      <p>{{sharedValue.sharedMessage}}</p>
      <input type="text" ng-model="sharedValue.sharedMessage" />
    </div>

    <div ng-controller="controllerB">
      <p>{{value}}</p>
      <p>{{sharedValue.sharedMessage}}</p>
      <input type="text" ng-model="sharedValue.sharedMessage" />
    </div>

    <!--Sharing Data between Controllers  -->
    <div ng-controller="ACtrl">
      <h3>Controller A</h3>
      <h3>{{dataObject}}</h3>
      <h3>{{dataObject.color}}</h3>
      <input type="text" ng-model="dataObject.color"></input>
    </div>

    <div ng-controller="BCtrl">
      <h3>Controller B</h3>
      <h3>{{dataObject}}</h3>
      <h3>{{dataObject.color}}</h3>
      <input type="text" ng-model="dataObject.color"></input>
    </div>

  </body>
</html>
