<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/mycontroller.js"></script>
  </head>
  <body>
    <div ng-controller="appController">
      <p>Hello {{ firstName }} {{ lastName }}</p>
      <a href="#" ng-click="setName('Kaushal','Patel')">Set Name</a>
    </div>

    <div ng-controller="DivideCtrl">
      <div>
        Enter Value 1: <input type="text" ng-model="numberData.value1"/>
      </div>

      <div>
        Enter Value 2: <input type="text" ng-model="numberData.value2" />
      </div>

      <button ng-click="divide(numberData.value1,numberData.value2)">
        Calculate</button>
    </div>

    <div ng-controller="AppCtrl">

      <p><input ng-model="testInput" type="text"/></p>
      {{  testInput }}

    </div>

  </body>
</html>
